<!DOCTYPE html>
<html>
<head>
  <title>Webperf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "/javascript" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% sleep 2 %>
  Home

</body>
</html>
