<!DOCTYPE html>
<html>
<head>
  <title>Webperf</title>
  <%= javascript_include_tag "/javascript?time=1", :defer => "defer" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

</body>
</html>
